@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap");

* {
  margin: 0;
  /* padding: 0; */
  /* box-sizing: border-box; */
  font-family: "PT Sans", sans-serif;
}

.home,
.consulting,
.contactus,
.design,
.development,
.marketing,
.products,
.services,
.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  font-size: 4rem;
  background-position: center;
  background-repeat: none;
  background-size: cover;
  text-shadow: 4px 4px 4px #fff;
}

/* .home {
  background-image: url(./images/home.jpg);
}

.consulting {
  background-image: url(./images/consulting.jpg);
}

.design {
  background-image: url(./images/design.jpg);
}

.development {
  background-image: url(./images/development.jpg);
}

.marketing {
  background-image: url(./images/marketing.jpg);
}

.products {
  background-image: url(./images/products.jpg);
}

.contactus {
  background-image: url(./images/contactus.jpg);
}

.services {
  background-image: url(./images/services.jpg);
}

.signup {
  background-image: url(./images/signup.jpg);
} */
.component-1 {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content:center;
  align-items: center;
  align-self: center;
  height: 200px;
}
.component-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content:center;
  align-items: center;
  align-self: center;
}
.Home-component {
  /* The image used */
  background-image: url(./images/home.jpg);
  display:flex;
  /* Full height */
  height: 80%; 
  width: 80%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content:center;
  align-items: center;
  align-self: center;
}
.product-component {
  /* The image used */
  background-image: url(./images/products.jpg);
  display:flex;
  /* Full height */
  height: 80%; 
  width: 80%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content:center;
  align-items: center;
  align-self: center;
}
.service-component {
  /* The image used */
  background-image: url(./images/services.jpg);
  display:flex;
  /* Full height */
  height: 80%; 
  width: 80%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content:center;
  align-items: center;
  align-self: center;
}
.wrapper{
  display:flex;
  flex-direction: column;
}
.wrapper-horizontal{
  display:flex;
  flex-direction: row;
}
.nftImages {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  margin: 0 0 1em 0;
  padding: 1em;
  border: 1px solid black;
}

.nftImages img {
  margin: 0.5em 0;
}